<div class="container bloque-contenido" id="bloque-contenido-{{component.id}}"  style="background-image:url('{{component.options.image-background}}')" >
  <div class="row">
  	<div class="col">
      
      <h2>{{ component.options.title }}</h2>
      
       <p>{{ component.options.text }}</p>
      

    
    </div>
  </div>
  
</div>


<link rel="stylesheet" type="text/css" href="{{ 'bloque-contenido.css' | asset }}"/>